@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject IConfiguration Config
@using Frontend.Components

<div class="map-layout">
  <div class="left-pane">
    <SensorList OnJumpTo="JumpTo" />
  </div>
  <div class="map-pane">
    <MapHost @ref="_map" />
  </div>
</div>

@code {
  private MapHost? _map;

  protected override Task OnAfterRenderAsync(bool firstRender)
  {
    // Map init is handled by MapHost
    return Task.CompletedTask;
  }

  private async Task JumpTo((double lng, double lat) pt)
  {
    if (_map is not null)
    {
      await _map.FlyToAsync(pt.lng, pt.lat);
    }
  }
}