@page "/"
@inject HttpClient Http
@using Microsoft.JSInterop
@using System.Net.Http.Json

<div style="display:grid; grid-template-columns: 360px 1fr; height:100vh;">
  <div style="border-right:1px solid #ddd;">
    <Frontend.Components.AssetList OnJumpTo="JumpTo" />
  </div>
  <div id="map" style="height:100%;"></div>
</div>
@code {
  [Inject] IJSRuntime JS { get; set; } = default!;
  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender) {
      await JS.InvokeVoidAsync("mapboxInterop.initMap","map",null,null);
      var geo = await Http.GetFromJsonAsync<object>("api/v1/sensor/geojson?take=10000");
      await JS.InvokeVoidAsync("mapboxInterop.setData", geo);
    } 
  }
  private async Task JumpTo((double lng, double lat) pt) { 
    await JS.InvokeVoidAsync("mapboxInterop.flyTo", pt.lng, pt.lat); 
  }
}
